export(validate_eeg)
export(interpolate_dropouts)
export(ads1299_decode24)
export(ads1299_codes_to_uv)
export(ads1299_uv_to_codes)
export(common_average_reference)
export(fir_bandpass)
export(fir_bandstop)
export(apply_fir_zero_phase)
export(notch_filter)
export(bandpass_filter)
export(welch_psd)
export(eeg_band_powers)
export(alpha_peak_frequency)
export(spectral_entropy)
export(hjorth_parameters)
export(channel_quality)
export(extract_epochs)
export(baseline_correct)
export(erp_average)
export(coherence_matrix)
export(eeg_pipeline)
